* {
    margin: 0;
    padding: 0;    
}

a {
    text-decoration: none !important; /* 링크의 밑줄 제거 */
    color: inherit; 
}

body {
    font-family: 'Kiwi Maru', serif;    
    /* height: 100vh; */
}

.header {
    background-color:#ffffff;
    /* max-width: 100%; */
}

.result {
    background-color:#f8f9fa;
    height: 100%;
    padding-top: 20px;
}

.content {
    width: 800px;
    margin: 0 auto;
    /* padding-top: 60px;
    padding-bottom: 30px; */
}

.footer {
    background-color:#495057;
    max-width: 100%;
}

.py-7 {
    padding-top: 70px;
    padding-bottom: 70px;
}